

 @font-face {
  font-family: 'Cabin Sketch'; 
  src: url('/fonts/CabinSketch-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}


@font-face {
  font-family: 'Cabin Sketch'; 
  src: url('/fonts/CabinSketch-Bold.ttf') format('truetype');
  font-weight: bold; 
  font-style: normal;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
}

h1 {
  font-weight: 700; /* Bold */
}

h2 {
  font-weight: 400; /* Regular */
}

body {
    font-family: 'M PLUS 1p', sans-serif;
  background: linear-gradient(to bottom, 
    #2b77c9 0%,     /* 明るい空色（上部） */
    #85aacb 100%    /* 夜空の色（下部） */
  );
  background-attachment: fixed;
  color: #0c0c0c; 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 100;
}

/* ロゴ */
.logo {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 90vh; 
  min-width: 300px;
  max-width: 90%;
  z-index: 10;
  text-align: center;
}

/* フッター */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  background: rgba(0,0,0,0.0);
  border-radius: 8px;
  justify-content: center;
}

/* ABOUT セクション */
.about-container {
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  width: 80%;
  max-width: 1280px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  z-index: 100;
}

.title-text {
    font-family: 'Cabin Sketch', sans-serif; /* 手順2で決めたフォント名を指定 */
  margin-bottom: 20px;
  color: #000000;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.about-content {
  display: flex;
  flex-direction: row;   /* 横並び */
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;       /* 狭いとき折り返し */
  max-width: 1000px;
  margin: 0 auto;       /* 中央寄せ */
}

.about-image {
  max-width: 500px;
  width: 100%;
  height: auto;
  flex: 1 1 300px;
}

.about-description-container {
  display: flex;
  flex-direction: column; /* 縦並び */
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 300px;
  text-align: left;
  color: #000;
  gap: 100px;
}

.about-description {
  margin-top: 50px;
  font-size: 1.5rem;
  line-height: 1.6;
  word-break: break-word; /* 必要に応じて改行 */
  overflow-wrap: break-word; /* 長い単語を折り返し */
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-description-container {
    align-items: center;
    text-align: center;
  }
  }


.footer-content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
  background: rgba(0,0,0,0.0); /* 半透明背景で視認性向上 */
  border-radius: 8px;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-description-container {
    align-items: center;
    text-align: center;
  }
}
